<p id="notice"><%= notice %></p>

<p>
  <b>Login:</b>
  <%= @admin.login %>
</p>

<p>
  <b>Email:</b>
  <%= @admin.email %>
</p>

<p>
  <b>Hashed password:</b>
  <%= @admin.hashed_password %>
</p>

<p>
  <b>Salt:</b>
  <%= @admin.salt %>
</p>

<p>
  <b>Is root:</b>
  <%= @admin.is_root %>
</p>

<p>
  <b>Name:</b>
  <%= @admin.name %>
</p>

<p>
  <b>Surname:</b>
  <%= @admin.surname %>
</p>

<p>
  <b>Bio:</b>
  <%= @admin.bio %>
</p>


<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
