<div id="header">
  <h1>Account view</h1>
</div>

<% if notice then %>
<div id="notice">
	<%= notice %>
</div>
<% end %>

<div class="presentation">
	<div class="left">
		<div class="element_field">
		  <div class="name">Login</div><div class="content"><%= @account.login %></div>
		</div>
		<div class="element_field">
		  <div class="name">Email</div><div class="content"><%= @account.email %></div>
		</div>
	</div>
	<div class="right">
		<div class="element_field">
		  <div class="name">Name</div><div class="content"><%= @account.name %></div>
		</div>
		<div class="element_field">
		  <div class="name">Surname</div><div class="content"><%= @account.surname %></div>
		</div>
		<div class="element_field admin_bio">
		  <div class="name">Bio</div><div class="content"><%= @account.bio %></div>
		</div>
	</div>
	<div class="center">
		<div class="controls">
			<%= link_to 'Edit', edit_admin_account_path(@account), :class => "action" %>
		</div>
	</div>
</div>
