<div id="header">
  <h1>Project view</h1>
</div>

<% if notice then %>
<div id="notice" class="element">
	<%= notice %>
</div>
<% end %>

<div class="presentation">
	<div class="element_field">
	  <div class="name">Name</div><div class="content"><%= @project.name %></div>
	</div>
	<div class="element_field">
	  <div class="name">Completion date</div><div class="content"><%= @project.completion_date %></div>
	</div>
	<div class="element_field">
	  <div class="name">Localization</div><div class="content"><%= @project.localization %></div>
	</div>
	<div class="element_field">
	  <div class="name">Rooms number</div><div class="content"><%= @project.rooms_number %></div>
	</div>
	<div class="element_field">
	  <div class="name">Surface area</div><div class="content"><%= @project.surface_area %></div>
	</div>
	<div class="element_field">
	  <div class="name">State</div><div class="content"><%= @project.state %></div>
	</div>
	<% unless @project.project_img.blank? %>
	<div class="element_field">
	  <div class="name">Project image</div><%= image_tag @project.project_img.url(:small), :class => "content image" %>
	</div>
	<% end %>
	<% unless @project.construction_img.blank? %>
	<div class="element_field">
	  <div class="name">Construction image</div><%= image_tag @project.construction_img.url(:small), :class => "content image" %>
	</div>
	<% end %>
	<% unless @project.result_img.blank? %>
	<div class="element_field">
	  <div class="name">Result image</div><%= image_tag @project.result_img.url(:small), :class => "content image" %>
	</div>
	<% end %>
	
	<div class="controls">
		<%= link_to 'Edit', edit_admin_project_path(@project), :class => "action" %>
		<%= link_to 'Destroy', admin_project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }, :class => "action" %>
	</div>
</div>

<div id="actions">
	<%= link_to 'Projects list', admin_projects_path %>
</div>
