<div id="header">
	<h1>Listing admins</h1>
</div>

<% unless @admins.empty? then %>
<table class="elements_list">
  <thead>
    <tr>
      <th>Login</th>
      <th>Email</th>
      <th>Name</th>
      <th>Surname</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
		<%= content_tag_for(:tr, @admins) do |admin| %>
      <td><%= admin.login %></td>
      <td><%= admin.email %></td>
      <td><%= admin.name %></td>
      <td><%= admin.surname %></td>
			<td class="controls">
				<%= link_to 'Show', admin_admin_path(admin) %><%= link_to 'Edit', edit_admin_admin_path(admin) %><%= link_to 'Destroy', admin_admin_path(admin), method: :delete, data: { confirm: 'Are you sure?' } %>
			</td>
		<% end %>
  </tbody>
</table>
<% else %>
<div class="info">
	There's no admins added yet
</div>
<% end %>

<div id="actions">
	<%= link_to 'New admin', new_admin_admin_path %>
</div>
