<div id="header">
  <h1>Admin view</h1>
</div>

<% if notice then %>
<div id="notice">
	<%= notice %>
</div>
<% end %>

<div class="presentation">
	<div class="left">
		<div class="element_field">
		  <div class="name">Login</div><div class="content"><%= @admin.login %></div>
		</div>
		<div class="element_field">
		  <div class="name">Email</div><div class="content"><%= @admin.email %></div>
		</div>
	</div>
	<div class="right">
		<div class="element_field">
		  <div class="name">Name</div><div class="content"><%= @admin.name %></div>
		</div>
		<div class="element_field">
		  <div class="name">Surname</div><div class="content"><%= @admin.surname %></div>
		</div>
		<div class="element_field admin_bio">
		  <div class="name">Bio</div><div class="content"><%= @admin.bio %></div>
		</div>
	</div>
	<div class="center">
		<div class="controls">
			<%= link_to 'Edit', edit_admin_admin_path(@admin), :class => "action" %>
			<%= link_to 'Destroy', admin_admin_path(@admin), method: :delete, data: { confirm: 'Are you sure?' }, :class => "action" %>
		</div>
	</div>
</div>

<div id="actions">
	<%= link_to 'Admins list', admin_admins_path %>
</div>
