<!DOCTYPE html>
<html>
<head>
  <title>Charta</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "backend/application", :media => "all" %>
  <%= stylesheet_link_tag "backend/scaffolds", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "backend/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= yield %>
</body>
</html>
