<!DOCTYPE html>
<html>
<head>
  <title>Charta</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "frontend/application", :media => "all" %>
  <%= stylesheet_link_tag "frontend/scaffolds", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "frontend/application" %>
  <%= csrf_meta_tags %>
</head>
<body bgcolor="#E6E6FA">
	<p>hello</p>
	<%= yield %>
</body>
</html>
