<!DOCTYPE html>
<html>
<head>
  <title>Charta</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "frontend/application", :media => "all" %>
  <%= stylesheet_link_tag "frontend/scaffolds", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "frontend/application" %>
  <%= csrf_meta_tags %>
</head>
<body id="public">
	
	<div id="banner">
    <div class="container">
			<% if @current_cart %>
				<%= hidden_div_if(@current_cart.line_items.empty?, :id => "cart") do %>
					<%= render @current_cart %>
				<% end %>
			<% end %>
			<div id="logo"><a href=""></a></div>
    </div>
  </div>
  


  <div id="dashboard">
    <div class="container">
      charta<br>
      project: <a href="mailto:katheroine@gmail.com">katheroine</a>
    </div>
  </div>

</body>
</html>
